<div class="table-responsive">
 <table class="table">
  <thead class="table-dark">
   <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Teléfono</th>
    <th>Email</th>
    <th>OPCIONES</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <th>1</th>
    <td>Javier</td>
    <td>Lete</td>
    <td>612123123</td>
    <td>javier@email.net</td>
    <td><a class="btn btn-primary me-2"
      ng-reflect-router-link="/formulario/1" href="/formulario/1">Editar</a><a 
      routerlink="/listado" class="btn btn-link text-danger" ng-reflect-router-link="/listado"
      href="/listado">Borrar</a></td>
   </tr>
   <tr>
    <th>2</th>
    <td>Pepe</td>
    <td>Pérez</td>
    <td>621321321</td>
    <td>pepe@email.net</td>
    <td><a class="btn btn-primary me-2"
      ng-reflect-router-link="/formulario/2" href="/formulario/2">Editar</a><a 
      routerlink="/listado" class="btn btn-link text-danger" ng-reflect-router-link="/listado"
      href="/listado">Borrar</a></td>
   </tr>
   <tr>
    <th>3</th>
    <td>Juan</td>
    <td>González</td>
    <td>612345678</td>
    <td>juan@email.net</td>
    <td><a class="btn btn-primary me-2"
      ng-reflect-router-link="/formulario/3" href="/formulario/3">Editar</a><a 
      routerlink="/listado" class="btn btn-link text-danger" ng-reflect-router-link="/listado"
      href="/listado">Borrar</a></td>
   </tr><!--bindings={
 "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
  </tbody>
  <tfoot>
   <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a routerlink="/formulario" class="btn btn-success"
      ng-reflect-router-link="/formulario" href="/formulario">Añadir</a></td>
   </tr>
  </tfoot>
 </table>
</div>